body {
    background-color: rgb(66, 66, 66); /*cor de fundo do site*/
}

section { /*criou uma seção*/
    border: 1px dashed beige; /*criou uma cor para a borda; além de "dashed" deixar pontilhado*/
}

#status { /*o estado inicial da imagem/site*/
    color: gray;
    font-size: 30px;
}

button { /*estilizou um botão*/
    background-color: rgb(235, 250, 213); /*cor do fundo do botão*/
    width: 150px;
    height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.menu-item {
    gap:5rem;
    text-decoration: none;
    width: 40px;
    height: 5%px;
}

.menu-item:hover{
    background-color: blueviolet;
    color: rgb(226, 43, 98);
}